# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Jekyll'
      'submenu': [
        { 'label': 'Manage Jekyll', 'command': 'jekyll:manage'},
        { 'label': 'Open Toolbar', 'command': 'jekyll:toolbar'},
        { 'label': 'New Post', 'command': 'jekyll:new-post' },
        { 'label': 'Open Config', 'command': 'jekyll:open-config' },
        { 'label': 'Open Layout', 'command': 'jekyll:open-layout' },
        { 'label': 'Open Include', 'command': 'jekyll:open-include' },
        { 'label': 'Open Data File', 'command': 'jekyll:open-data'}
      ]
    ]
  }
]
