'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Jekyll'
      'submenu': [
        { 'label': 'New Post', 'command': 'jekyll:new-post' },
        { 'label': 'Open Config', 'command': 'jekyll:open-config' },
        { 'label': 'Open Layout', 'command': 'jekyll:open-layout' },
        { 'label': 'Open Include', 'command': 'jekyll:open-include' },
        { 'label': 'Open Data File', 'command': 'jekyll:open-data'},
        { 'label': 'Toggle Server', 'command': 'jekyll:toggle-server' }
      ]
    ]
  }
]
