# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'.platform-darwin atom-workspace':
  'cmd-alt-j': 'jekyll:new-post'
  'alt-shift-t': 'jekyll:toggle-server'

'.platform-darwin atom-text-editor':
  'cmd-alt-l': 'jekyll:open-layout'
  'cmd-shift-i': 'jekyll:open-include'
  'cmd-alt-d': 'jekyll:open-data'

'.platform-win32 atom-workspace, .platform-linux atom-workspace':
  'ctrl-alt-j': 'jekyll:new-post'
  'alt-shift-t': 'jekyll:toggle-server'

'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
  'ctrl-alt-l': 'jekyll:open-layout'
  'ctrl-shift-i': 'jekyll:open-include'
  'ctrl-alt-d': 'jekyll:open-data'
