# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'.workspace':
  'cmd-alt-l': 'jekyll:open-layout'
  'cmd-alt-j': 'jekyll:new-post'
  'cmd-shift-i': 'jekyll:open-include'
  'cmd-alt-d': 'jekyll:open-data'
  'cmd-alt-t': 'jekyll:toolbar'
  'alt-shift-t': 'jekyll:toggle-server'
